/* Set box-sizing to border-box for better sizing behavior */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }

  /* Reset default body styles and set a linear gradient background */
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #c2699c, #a3c09e);
  }

  /* Create a calculator grid with specific layout and styling */
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }

  /* Style individual calculator buttons */
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  /* Apply a subtle scale-down effect on button press */
.calculator-grid > button:active {
    transform: scale(0.95);
}

  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(99, 159, 185, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }